/* RESET CSS http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GENERAL */

.logo
{
    width: 25px;
    height: 25px;
    padding: 1%;
}

body{
	background-color:#f3f3f3;
	min-height:100vh;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

/* NAV */
nav.navigation{
	position:relative;
	height:50px;
	background-color:#24292e;
	z-index:2;
}
.nav-logo{
	float:left;
	height:50px;
	line-height:50px;
	padding:0 20px;
	background-color:#24292e;
	color:#ffffff;
	font-weight:700;
	text-transform:uppercase;
}
.logo-img{
	float: left;
	width: 42px;
	height: 42px;
	margin: 0.2222%;
}
.profile{
	display: block;
	width: 200px;
	height: 200px;
	margin: 25px auto;
	border-radius: 50%;
	border-style: solid;
	border-width: 2px ;
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.git{
	display: block;
	margin: 25px auto;
	width: 256px;
	height: 85px;
}
.title{
	text-align: center;
	font-size: 32px;
	font-style: bold;
	font-weight: lighter;
}
.title2{
	font-size: 32px;
	font-style: bold;
	font-weight: lighter;
	text-decoration: underline;
}
ul.nav-menu, ul.nav-menu li, ul.nav-menu li a{
	float:left;
}
ul.nav-menu{
	padding-left:10px;
}
ul.nav-menu li a{
	height:50px;
	line-height:50px;
	padding:0 10px;
	color:#ffffff;
	text-decoration:none;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
ul.nav-menu li a:hover{
	/*color:#6decb9;*/
	color:hsla(0, 0%, 100%, 0.7);
}
.nav-toggle{
	display:none;

	position:absolute;
	top:0;
	right:0;
	width:50px;
	height:50px;
	background-color:#ffffff;
	cursor:pointer;
}
span.icon-bar{
	position:absolute;
	right:12px;
	display:block;
	width:26px;
	height:2px;
	background-color:#24292e;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.icon-bar:nth-child(1){
  top:17px;
}
.icon-bar:nth-child(2){
  top:24px;
}
.icon-bar:nth-child(3){
  top:31px;
}
.nav-overlay{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:rgba(0,0,0,0.5);
	z-index:1;
	opacity:0;
	visibility:hidden;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.nav-overlay.active{
	opacity:1;
	visibility:visible;
}

/* ICON BARS ANIMATION */

.nav-toggle.active .icon-bar:nth-child(1){
	top:24px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}
.nav-toggle.active .icon-bar:nth-child(2){
	width:0;
}
.nav-toggle.active .icon-bar:nth-child(3){
	top:24px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* SITE CONTAINER */

.site-container{
	width:80%;
	margin:5%;
	padding:5%;
	background-color: #ffffff;
	font-size:16px;
	font-weight:300;
	line-height:20px;
	box-shadow: 12px 12px 2px 1px rgba(60, 60, 77, 0.2);
}
.site-container p{
	margin:10px 0;
}

/* Tableau */
#customers 
{ 
    border-collapse: collapse;
    width: 100%;
}
  
#customers td, #customers th
{
    border: 1px solid rgb(94, 94, 94);
    padding: 8px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.658), 0 17px 50px 0 rgba(0,0,0,0.19);
}
  
#customers tr:nth-child(even)
{
    background-color: rgb(219, 219, 219);;
}
  
#customers tr:hover
{
    background-color: rgb(119, 119, 119);;
}
  
#customers th
{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#24292e;
    color: rgb(255, 255, 255);
}
/* end */

/* Bouton */
.button {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #24292e;
    transition-duration: 0.2s;  
}
.button:hover {
    background-color: #24292e;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button:active {
    border: 2px solid #141414;
    background-color: #141414;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: translateY(2px);

}
/* End */

/* MEDIAQUERIES */

@media screen and (max-width:767px){
	ul.nav-menu{
		position:absolute;
		top:50px;
		width:100%;
		height:0;
		padding:0;
		overflow:hidden;
	}
	ul.nav-menu.active{
		height:auto;
	}
	ul.nav-menu li{
		width:100%;
	}
	ul.nav-menu li a{
		width:100%;
		padding:0;
		text-align:center;
		background-color:#24292e;
	}
	ul.nav-menu li a:hover{
		background-color:#1c1c1c;
	}
	.nav-toggle{
		display:block;
	}
}
@media screen and (min-width:768px){
	.nav-overlay.active{
		visibility:hidden;
		opacity:0;
	}
}